@import "tailwindcss";

@theme {
  --color-primary: #0B4F6C;
  --color-primary-light: #1976A5;
  --color-secondary: #FF8A00;
  --color-accent: #009688;
  --color-success: #2E7D32;
  --color-warning: #FFB300;
  --color-danger: #D32F2F;
  --color-surface: #ECEFF1;
  --color-bg: #F7FAFC;
  --color-text: #263238;
}
