version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: trajet_mongodb
    restart: unless-stopped
    ports:
      - "27019:27019"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: myapp

  minio:
    image: minio/minio
    container_name: trajet_minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"

  server:
    build: ./server
    container_name: trajet_server
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGO_URI=mongodb://mongodb:27019/trajet
      - MINIO_ENDPOINT=minio
      - MINIO_PORT=9000
      - MINIO_USE_SSL=false
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    depends_on:
      - mongodb
      - minio
    volumes:
      - ./server:/app
      - server_node_modules:/app/node_modules

  client:
    build: ./client
    container_name: trajet_client
    restart: unless-stopped
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server
    volumes:
      - ./client:/app
      - client_node_modules:/app/node_modules

volumes:
  mongo_data:
  minio_data:
  server_node_modules:
  client_node_modules:
